__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

venv/
.env/
.venv/
*.env

.DS_Store
*.swp
*.swo

.git/
.gitignore

Dockerfile
.dockerignore

.vscode/
.idea/

*.log
*.db

.coverage
htmlcov/
coverage.xml
tests/
