__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.venv/
env/
venv/
ENV/
.Python

*.log
*.tmp
*.swp
*.bak
!examples/sensors.log

.env

.DS_Store
Thumbs.db
.vscode/

*.tar
*.img

.coverage
.cache/
.pytest_cache/
htmlcov/

.mypy_cache/
*.lint
*.typecheck

build/
dist/
*.egg-info/
